<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.helpingpeople">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HelpingPeople">
        <activity
            android:name=".AdminResponse"
            android:exported="false" />
        <activity
            android:name=".AdminUmmaid"
            android:exported="false" />
        <activity
            android:name=".AdminDisha"
            android:exported="false" />
        <activity
            android:name=".AdminUdpadte"
            android:exported="false" />
        <activity
            android:name=".fooddataform"
            android:exported="false" />
        <!--
           TODO: Before you run your application, you need a Google Maps API key.

           To get one, follow the directions here:

              https://developers.google.com/maps/documentation/android-sdk/get-api-key

           Once you have your API key (it starts with "AIza"), define a new property in your
           project's local.properties file (e.g. MAPS_API_KEY=Aiza...), and replace the
           "YOUR_API_KEY" string in this file with "${MAPS_API_KEY}".
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBTBODYEZBFb9hzBF5uE6TXP4r3I5PrGN0" />

        <activity
            android:name=".ngo3map"
            android:exported="false" />
        <activity
            android:name=".ngo2map"
            android:exported="false" />
        <activity
            android:name=".ngo1map"
            android:exported="false" />
        <activity
            android:name=".Pet_Section"
            android:exported="false" />
        <activity
            android:name=".Money_Section"
            android:exported="false" />
        <activity
            android:name=".Cloth_Section"
            android:exported="false" />
        <activity
            android:name=".Food_Section"
            android:exported="false" />
        <activity
            android:name=".AdminPage"
            android:exported="false" />
        <activity
            android:name=".MainPage"
            android:exported="false"
            android:label="@string/title_activity_main_page"
            android:theme="@style/Theme.HelpingPeople.NoActionBar" />
        <activity
            android:name=".verifyphoneno"
            android:exported="false" />
        <activity
            android:name=".Signup"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>